# Archivos y carpetas
__pycache__/
*.pyc
*.pyo

# Archivos de logging
logs/
*.log

# Archivos de salida
reports/
*.csv
*.xlsx

# Entorno virtual
venv/
env/


# Dependencias y paquetes instalados
dist/
build/
*.egg-info/
*.dist-info/
